@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.border-animation::before{
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: .3rem;
  border-bottom: 2px solid white;
  transition: width 0.5s ease;
  box-sizing: border-box;
}

.border-animation:hover::before,
.border-animation:hover::after {
  width: 100%;
  left: 0;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
